
/* PRIMARY NAVIGATION BAR */
        #navBar{
            
			float:right;
			display:block;
			margin-top:3px;
			position:relative;
			/*position: absolute;
            right: 10px;
            height: 30px;*/
        }
        #navBar ul{
            margin: 0;
            padding: 0;
        }
        #navBar ul li{
          list-style: none;
          float: left;
        }
        #navBar ul li a{
            display: inline-block;
            height: 19px;
            padding: 5px 5px 4px 37px;
            margin: 0px 0px;
            font: bold 12px "Helvetica Neue",helvetica,arial,sans-serif;
            background-position: 12px 6px;
            background-repeat:no-repeat;
			color:#222;
           /* border-width: 1px 1px 1px 0; 
            border-color: #d5d5d5;
            border-style: solid;
            background-color: #fefefe;*/
			border-right: 1px solid #F0F3F5;
        }
        #navBar ul li a:hover,  #navBar ul li a:hover#apps{ 
            background-color: #efeff1;
			text-decoration:none;
			color:#222;
        }
        #navBar ul li a:active, #navBar ul li a.sel {
            background-color: #0572ce;
            color: #ffffff;
            filter: none;
            text-shadow: none;
        }
        #navBar ul li:first-child a {
          border-left: 1px solid #F0F3F5;
     
        }
        #navBar ul li:last-child a {
         
        }
        #navBar a > span {
            padding: 0 4px 0 0;
        }
        #navBar.io span {display: none;}/*toggle to none*/
		
		
		
		
/*-- CUSTOM ICONS FOR EACH BUTTON --*/
    .menu1 {background-image: url(../img-common/icn-home.png)  ;}
    .menu2 {background-image: url(../img-common/icn-new.png) ;}
    .menu3 {background-image: url(../img-common/icn-allbooks.png) ;}
/*-- USE WHITE VERSION OF ICONS WHEN BUTTONS ARE SELECTED --*/    
    .menu1:active, .menu1.sel {background-image: url(../img-common/icn-home-over.png);}
    .menu2:active, .menu1.sel {background-image: url(../img-common/icn-new-over.png)  ;}
    .menu3:active, .menu1.sel {background-image: url(../img-common/icn-allbooks-over.png) ;}


 
 
#navcontainer{
width:100%;
position:relative; 
float:right; 
top:-1px;
clear:both;
z-index:500;
}
 
/* DROPDOWNS */   
/*1 mostpopular    
  #firstsubmenu{
  display: none;
  position:absolute; 
  z-index:10; 
right:0;
  background-color:#FFFFFF;
  padding:5px;
  border: 1px solid #d5d5d5;
  border-radius: 4px;
} */ 
    .submenu1{
  display: none;
    top:-1px;
  position:absolute; 
  z-index:1000; 
right:0;
  background-color:#FFFFFF;
  padding:15px;
   /* margin-left:10px;*/
  border: 1px solid #d5d5d5;

}
     .submenu2{
  display: none;
    top:-1px;
  position:absolute; 
  z-index:1000; 
right:0;
  background-color:#FFFFFF;
  padding:15px;
   /* margin-left:10px;*/
  border: 1px solid #d5d5d5;

}
     .submenu3{
  display: none;
  top:-1px;
  position:absolute; 
  z-index:1000; 
right:0;
  background-color:#FFFFFF;
  padding:15px;
   /* margin-left:10px;*/
  border: 1px solid #d5d5d5;

}
 
  
      
        /*-- Media Query for smaller devices --*/
@media only screen and (min-width: 480px) {
#navcontainer{
max-width:500px;
}
#navBar.io span  {display: block;}/*toggle to none*/
}
  
  
  