@charset "utf-8";
/* CSS Document */

/*/ FORM STYLES	/*/

input{
background-color: #fcfdfe;
border-width: 1px;
border-style: solid;
border-color: #dfe4e7;
border-radius: 2px;
padding-top: 6px;
padding-bottom: 5px;
padding-left: 5px;
padding-right: 5px;
}


input, select, textarea {
font-size: 12px;
color: #333333;

background-color: #fcfdfe;
border-width: 1px;
border-style: solid;
border-color: #C5C5C5;
border-radius: 2px;
vertical-align:baseline;
}

input{padding:3px 5px; margin:0;}
select{padding:2px;}


#search{
	width:120px;
	}
/*#searchheader label*/
label{
	font-family: Verdana, Arial, Helvetica, sans-serif;
		font-size:11px;
		color: #666;
		}
		
			
.redbut{
height:26px;
color:#fff;
border-color:#a50000;
font-weight:bold;
vertical-align:baseline;

background: #ca0000; /* Old browsers */
background: -moz-linear-gradient(top,  #ca0000 0%, #dc0000 50%, #ca0000 54%, #a50000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ca0000), color-stop(50%,#dc0000), color-stop(54%,#ca0000), color-stop(100%,#a50000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ca0000 0%,#dc0000 50%,#ca0000 54%,#a50000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ca0000 0%,#dc0000 50%,#ca0000 54%,#a50000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ca0000 0%,#dc0000 50%,#ca0000 54%,#a50000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ca0000 0%,#dc0000 50%,#ca0000 54%,#a50000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca0000', endColorstr='#a50000',GradientType=0 ); /* IE6-9 */
}



.formobject{
	padding-left:15px;
	padding-top:5px;}

/*@-moz-document url-prefix() {
.gobutton{
	       padding: 0 !important;
	 margin: 0 !important;
	 font-size:11px;
	 vertical-align: middle;
}
}*/


/*input::-moz-focus-inner { 
	border: 0; 
	padding: 0; 
	margin-top:-2px; 
	margin-bottom: -2px; 
}*/

@-moz-document url-prefix() {
input{
	       padding: 3px !important;
	 margin: 0 !important;
	 font-size:11px;
	 vertical-align: middle;
}
}
/*@-moz-document url-prefix() {
	button{
		padding:0!important;
		 margin: 0 !important;
		 vertical-align: middle;
		
	}
}*/

.redbut{
vertical-align: middle;
height:auto;!important;
}
}

