@charset "utf-8";
/* CSS Document */

.font13pt{
	font-size:13pt;}
.font12pt{
	font-size:12pt;}

.javagradient{
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iI2U1ZjFmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #ffffff 0%, #e5f1f9 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(99%,#e5f1f9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e5f1f9 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e5f1f9 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e5f1f9 99%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e5f1f9 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5f1f9',GradientType=0 ); /* IE6-8 */

border-bottom: 1px solid #d6dfe6;

border-radius: 3px;
}

#libname{
float:left; 
width:80%;
padding-left:15px;
padding-bottom:15px;
}

#libname H1{
	font-size:3em;
	font-stretch:narrower;
}
	

	
@media only screen and (min-width: 480px) {


#libname{
float:right; 
width:48%;
}

}
}


#getstarted{
float:left;
display:inline;
padding-left:5px; 
padding-right:5px;
}


  

#homeGetStarted H1, .threecolumns H1,  .twocolumns H1{
color:#fff;/*#042d53;*/
margin-top:0;
font-weight:normal;
font-size: 1.7em;
line-height:1.1em;
}

 #homeGetStarted a:link, #homeGetStarted a:active, #homeGetStarted a:visited,
.threecolumns a:link, .threecolumns a:active, .threecolumns a:visited{
color:#054887;
}






