/* ==========================================================================
   HTML5 FMW DESIGN
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

		
body {
font: 13px/20px  Arial, Helvetica, sans-serif;
background-color:#fff;/*fcfcfc*/
}

table,p{
font-size:13px;	}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

.sect1{
word-wrap:break-word;	
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e7e7e7;
    margin: 0;
    padding: 0;
}

.hr{
width:100%;
float:left;
height:1px;
background-color:#e7e7e7;
display:block;
margin:10px 0px;
}

.center{
	text-align:center;	
	}
	
article img {
    vertical-align: middle;
	max-width:100%;
	height:auto;
}
.contentarea img{
	  vertical-align: middle;
	max-width:100%;
	height:auto;
}
	
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #e7e7e7;
    color: #000;
    padding: 0.2em 0;
}

.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
	overflow:auto;
    height:0px;
    font-size: 1px;
    line-height: 0px;
}
.clearboth{
clear: both;
}
.floatright{
float:right;
text-align:right;
}


.shadow{
/*box-shadow: 0 1px 3px rgba(34,25,25,0.4);
-moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
-webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.4);*/
}

h1{
	margin:0;	
}
.f10px{
	font-size:10px;
	}
	.f11px{
	font-size:11px;
	}

/* ==========================================================================
	All Links
   ========================================================================== */
 	a:link{text-decoration:none; color:#09569d;}/*/1466b2   #043d71*/
	a:visited{text-decoration:none; color: #3a87cf;/*#72007C;*/}
	a:hover{text-decoration:underline; }
	
/* ==========================================================================
   ========================================================================== */

#altlogo{
	display:none;
}



.header-container {
/*padding:3px 0px;*/

background-color: #fff;
/*border-bottom: 1px solid #e7e7e7;*/
border-bottom:1px solid #C1CFDA;/*b7d3e8*/

-webkit-box-shadow: 0 2px 2px rgba(117, 163, 231, 0.1);
box-shadow: 0 2px 2px rgba(117, 163, 231, 0.1);
}

/* ==============
    MOBILE: Footer
   ============== */
   
.footer-container{
background-color:#fff;

	width: 95%;
    margin: 0 5%;
	margin:auto;
	clear:both;
		display:block;
}
.footer-containerbook{
background-color:#fff;

	width: 95%;
    margin: 0 5%;
	margin:auto;
		clear:both;
	display:block;
}


footer{
font-size:11px;

color: #454545;
text-align:left;
}
footer ul li{
display:inline;
}


/*//////////////*/

.contentarea{
padding: 10px;
}

.contentarea2{
background: #376e91;
border-bottom-left-radius: 3px;
border-bottom-right-radius: 3px;
border: none;
margin-bottom: 10px;
padding: 10px;
color: #fff;
}


.wrapper { 
	width: 95%;
    margin: 0 1%;
	margin:auto;
}



.bookwrapper {
	margin:auto;
	margin-left:2px; /*added for finger tabs*/
	margin-right:2px;
}

.bookindent{
margin-left:45px; /*added for finger tabs*/
}
/* ===================
     Syles
=================== */
   	  .nobullets li{
	   list-style-type:none;
	   font-size:14px;
	   }
	   .nobullets ul{margin:0;padding:0 0 15px 0;}

.threecolumns, .twocolumns{
float:left; 
display:inline; 
width:100%; 
}

.clear{clear:both;}
   
.callout{
padding:10px; 
margin-bottom:10px;
clear:both;
border-radius: 3px;
}

.box{
border-top: 1px solid #d2dde5;
border-bottom: 1px solid #d2dde5;
background-color: #F4F8FC;
border-radius: 3px;
}

.box2{
border: 1px solid #d2dde5;
background-color: #fff;
border-radius: 3px;
}



#allbooks .book{
border-bottom:1px solid #d6dfe6;
float:left;
width:100%;
padding-bottom:.5em;
margin-top:.5em;
line-height:1.2em;}

#allbooks .docs{
float:right;
display:inline;
font-size:.8em;
padding:3px;
text-align:right;
width:auto;
background-color:#f7f7f7;
}
	


/*/// search results page styles*/
.searchAgain{
	width:auto;
	margin:0;
	text-align:center;
	padding:7px;
	margin-bottom:10px;

}
.searchresulttab{
	float:right;
	border-left:1px #EBEBEB solid;
	border-right:1px #EBEBEB solid;
	border-bottom:1px #EBEBEB solid;
	padding:5px;
	margin-bottom: 26px;
	background-color:#F4F8FC;
	color: #5C5C5C;
	}
	
.searchresultbox{
font-size:13px;
display:block;
margin-top:15px;
padding:5px;
font-weight: normal;
border-bottom:1px solid #d2dde5;
clear:both;}

.searchresultbox a:link{
	font-weight:bold;
	font-size: 1.1em;
}

.SearchResults a:link, .SearchResults a:visited{
display:inline-block;
padding:2px 5px;}

.searchNums a:link, .searchNums a:visited{
display:inline;
padding:2px 5px;
margin:0px;}

/*//////////////*/

/* GLOBAL CONTROLS INCLUDING SIGN IN MENU */
      
	          #searchheader{
		font-family:Verdana, Arial, Helvetica, sans-serif;
		float:right;
		display: block;
text-align: center;
width:100%;
padding: 10px 0px;
        }	
		
	  /*//////////////*/
	  
	    #signInArea{

text-align: center;
width:100%;
padding-bottom: 10px;
border-bottom:1px solid #CCC;
        }
	
     /*   #signInArea ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        #signInArea ul li{
            display: block;
            position: relative;
            float: left;
            z-index: 50;
        }
        #signInArea li ul {
            display: none;
            z-index: 100;
        }
         #signInArea ul li a{
            display:block;
            text-decoration: none;
            font-size: 11px;
            color: #000;
            background: transparent;
            white-space: nowrap;
        }
        #signInArea li ul li a{
            display:block;
            text-decoration: none;
            font-size: 11px;
            color: #000;
            border-width: 1px 0 0 1px;
            border-style: solid;
            border-color: #edf2f7;
            padding: 5px 10px 5px 10px;
            margin: 0 0 0 1px; 
            white-space: nowrap;
        }
        
        #signInArea ul li a:hover { 
            background: transparent; 
        }
        #signInArea li:hover ul { 
            display: block; 
            position: absolute;
        }
        #signInArea li:hover li { 
            float: none;
            font-size: 11px;
            outline: none;
            -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); 
            filter:progid:DXImageTransform.Microsoft.Shadow(color='#cccccc',direction='135',strength='2');
        }
        #signInArea li:hover a {
            background: #fff; 
        }
        #signInArea li:hover li a:hover {
            background: #dee4e8;
        }      
        
        #signInArea ul li span.bar{
		  margin:5px;
		  border-left:1px solid #333333;
        }
         */


/*//////////////*/


.pagetitle{
padding:7px 10px;

margin-bottom:20px;
clear:both;

border-bottom:1px solid #d2dde5;/*b7d3e8*/
border-radius: 3px;

background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg3JSIgc3RvcC1jb2xvcj0iI2YwZjdmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOWViZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #f0f7fc 87%, #d9ebf7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(87%,#f0f7fc), color-stop(100%,#d9ebf7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f7fc 87%,#d9ebf7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f0f7fc 87%,#d9ebf7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f0f7fc 87%,#d9ebf7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f0f7fc 87%,#d9ebf7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9ebf7',GradientType=0 ); /* IE6-8 */
}



.booktitle{
padding:7px 10px;

/*margin-bottom:20px;
font-weight: bold;*/
font-size: 1.5em;
clear:both;

border-bottom:1px solid #d2dde5;/*b7d3e8*/
border-radius: 3px;

background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg3JSIgc3RvcC1jb2xvcj0iI2YwZjdmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkOWViZjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #f0f7fc 87%, #d9ebf7 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(87%,#f0f7fc), color-stop(100%,#d9ebf7)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f7fc 87%,#d9ebf7 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f0f7fc 87%,#d9ebf7 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f0f7fc 87%,#d9ebf7 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f0f7fc 87%,#d9ebf7 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d9ebf7',GradientType=0 ); /* IE6-8 */

}
platform{
	clear:both;
	width:100%;
	display:block;
	font-style:italic;
	font-size:11px;
	font-weight:normal;
}

.booktitle img{
position:relative;
top:5px;
padding-right:5px;
}


.bookoptions{
float:right;
font-size:11px;
/*color:#9d9d9d;*/
margin-bottom:4px;
color: #121212;
padding-right: 10px;
padding-left: 20px;
}

/*///////////////
#fly out panel on left
///////////////*/

.panel {width:100%; margin-left:0;}

/*///////////////
#tabsubmenu 
///////////////*/

#linksubmenu {
margin:0;
padding:0;
}

#linksubmenu ul {
padding:0;
}

#linksubmenu  li {
list-style:none;
list-style-position:inside;
margin:0;
padding:0;

background:#efefef; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmVmZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #e2eff9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e2eff9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#e2eff9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#e2eff9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#e2eff9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#e2eff9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2eff9',GradientType=0 ); /* IE6-8 */

}

#linksubmenu  li a{
display:block;
margin:0;
padding:2%;
border-bottom:1px solid #d5dfe5;
border-left:1px solid #d5dfe5;
border-right:1px solid #d5dfe5;
color:#09569d;
}

#linksubmenu  li:first-child a {
border-top:1px solid #d5dfe5;
}

#linksubmenu  li:last-child a {
}

  .tabselected {
border-left:4px solid #1466b2;
border-right:4px solid #1466b2;
background-color:#f7f7f7;
font-weight: bold;
color: #1466b2;
}

/*///////////////
#tabsubmenu
///////////////*/
	
.leftlinks{
display:block;
padding:0;
margin:0;
}

.leftlinks ul{
margin-bottom:10px;
padding:0;
}

.leftlinks  li{
	list-style:none;
	display:block;
margin-bottom:1em;
padding-left:3px;
padding-bottom:3px;
float:left;
width:100%;
border-bottom:1px solid #d6dfe6;}

		
		
/*//////////////*/
/*///////////////
#tabsubmenu
///////////////*/
	
#tabsubmenu {
width:100%;
padding:0;
margin:0;
}
			
#tabsubmenu ul{
float:left;
clear:both;
padding:0;
margin:0;
}			

#tabsubmenu ul li{
display:inline;
margin:0;
}

#tabsubmenu ul li a{
border: 1px solid #d5d5d5;
/*border-top-left-radius: 4px;
border-top-right-radius: 4px;*/
padding:2px 6px 2px 6px;
display:inline-block;
background:#f9f9f9;
}


#tabsubmenu ul li:first-child a {
          border-left: 1px solid #d5d5d5;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
        }
#tabsubmenu ul li:last-child a {
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
        }
		
		
		
/*//////////////*/



.main aside {
background-color: #efefef;}

#toc { display: none;}
#toc{
border: 1px solid #e7e7e7;
background-color: #f7f7f7;
margin-bottom: 10px;
}	

#toc.open {
display: block;
height:auto;
}

#tocbutton{
display:block;
cursor: hand; 
cursor: pointer;
float:right;
}

#tocclose{
cursor: hand; 
cursor: pointer;
float:right;
}



.button{
text-align: center;
display:inline-block;
background-color: #f9f9f9;
background: linear-gradient(bottom, #e3e7e9 0%, #e9ebed 50%, #f1f3f3 96.36%, #fff 100%), linear-gradient(bottom, #e3e7e9 0%, #e9ebed 50%, #f1f3f3 96.36%, #fff 100%);
box-shadow: inset 0px 1px 0px #FFFFFF; 
border: 1px solid #d5d5d5;
border-radius: 2px;
padding: 2px 5px;
margin-left:3px;
}

.button:hover{
display:inline-block;
background-color: #f9f9f9;
background: linear-gradient(bottom, #e3e7e9 0%, #e9ebed 50%, #f1f3f3 96.36%, #fff 100%), linear-gradient(bottom, #e3e7e9 0%, #e9ebed 50%, #f1f3f3 96.36%, #fff 100%);
box-shadow: inset 0px 1px 0px #FFFFFF; 
border: 1px solid  #999999;
border-radius: 2px;
padding: 2px 5px;
}

.button:active{
background: #0572ce;
border: 1px solid #0572ce;
color: #fff;
text-decoration:none;
box-shadow:none;
}


.inactivebutton{text-align: center;
display:inline-block;
background: #f3f5f6;
box-shadow: inset 0px 1px 0px #FFFFFF; 
border: 1px solid #dfe5ea;
border-radius: 2px;
padding: 2px 5px;

color: #9E9E9E;

text-decoration:none;
}


.title {
color: #333;}


.panellists h3{
clear:both;
}


.panellists ul li{
clear:both;
list-style:none;
margin-left:0;}

/* ==============
    MOBILE: Footer
   ============== */
   
   /* social icons */
.socialicons{
	max-width:1040px;
	float:left;
	padding-top:3px;
margin-bottom:10px;

}
img.socialIcon{width:16px;height:16px;background-image:url(../img-common/social_sprite.png);background-repeat:no-repeat;background-color:transparent}
img.socialIcon.linkedin{background-position:-72px -20px}
img.socialIcon.rss{background-position:-88px -20px}
img.socialIcon.twitter{background-position:-104px -20px}
img.socialIcon.youtube{background-position:-120px -20px}
img.socialIcon.facebook{background-position:-136px -20px}

.SocialBar{
	float:right;
	vertical-align: middle;
margin-bottom:10px;
	}

#fb-like{
	display:inline;
	float:right;
	width:200px;
	}
#go-like{
	display:inline;
	float:right;
	width:42px;
	}
#tw-like{
	display:inline;
	float:right;
	width:60px;
	}


     #tbox{
   width:auto;
   display:block;
   margin:0;
   clear:both;
  /* padding:15px 15px 10px 25px;*/
   }

/* ==============
    MOBILE: Footerbox
   ============== */
    #footerbox{
  margin-top:20px;
   width:auto;
   display:block;
   margin:0;
   padding:15px 15px 10px 25px;
   }
   
   #footerbox ul {
   margin:0;
   padding-left:0;}   
   
   #footerbox ul li {
	list-style:none;
	font-size:12px;
	width:100%;

	border-bottom:solid;
	border-bottom-color: #4880A3;/*#efefef;*/
	border-bottom-width:1px;
 
 	vertical-align: top;
	padding: 0;
	margin: 0;

	text-decoration:none;
	}


 #footerbox ul li a:active,  
 #footerbox ul li a:link, 
 #footerbox ul li a:visited{
color: #fff;
text-decoration:none;
}

 #footerbox ul li a:hover{
	 font-weight:bold;
text-decoration:none;
}




/* ==============
    MOBILE: Menu
   ============== */

nav ul {
 margin: 0;
  padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;
	
/*	border: 1px solid #d5d5d5;
border-radius: 4px;*/
    background:  #fff;
}

nav a:hover{
background: #006699;
color:#FFFFFF;
}
nav a:visited {}
nav a:hover {}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 10px 0;
}

.main h1 {

font-size: 2em;
line-height:1.2em;
font-weight:normal;
color:#333;
}

.main h2 {

font-size: 1.4em;
line-height:1.2em;
font-weight: normal;
}

.main h3 {
font-size: 1.3em;
line-height:1em;
font-weight:normal;
}

.main aside {
    padding: 0px 2% 10px;}

#toc{
    padding: 10px 2%;}
	
	
.rightbody {float:left;
margin-bottom:10px;}


#leftaside {

margin-bottom:10px;
float:left;
width: 99%;}


.leftsidesearch{
	padding: 1%;
}

.leftsidesearch p{
	font-weight:bold;
		/*float:left;*/
}

.leftsidesearch ul{
margin:0;
padding:5px;
float:left;}

.leftsidesearch li{
	margin-left: 0px;
margin-bottom: .9em;
float: left;
font-size: 12px;
line-height: 1.2em;
width: 100%;
list-style-type: none;
}

.leftsidesearch .selected {	
display:block;
margin-left:-3px;
background:#ffffff url(../img-common/search-arrow.png)  no-repeat right;
width:95%;
padding: 3px 10px  2px 3px;
font-weight:bold;
border:#EBEBEB 1px solid;
}

.searchfilter {
font-size:.8em;}

.searchfilter  ul{
margin-bottom:10px;}


.searchfilter li{
margin-left:0px;
margin-bottom:3px;
float:left;
width:100%;	
line-height:1.1em;
}



/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

.ie8 #slideToggle{
top:-25;

}

/* ==========================================================================
   Cloud custom styles
   ========================================================================== */


#breadcrumb{
font-size:12px;
float:left;
/*line-height:1.4em;
color:#9d9d9d;*/
color: #121212;
margin-bottom:4px;
padding-left: 10px;
padding-right: 5px;
}

#breadcrumb a:link, #breadcrumb a:visited{
color: #1766b0;
text-decoration:none;}

#breadcrumb a:hover{
text-decoration:underline;}


.callout{
padding:10px; 
margin-bottom:15px;
clear:both;
}





/* ============
   Next Previous PHONE
   ============ */
#pagenav{
    float: right;
	font-size: .9em;
	width:100%;
	margin-bottom:10px;
		text-align: center;
}
	
#pagenav a,#pagenav2 a{/*text-decoration:none;*/}
#pagenav2{
    float: right;
	text-align: center;
}

#tocbutton{
float:left;
display:inline;
text-align:center;
font-size: .9em;	
}

/* ============
   MOBILE: Header 
   =========== */

#brandProdName{
width: 100%;
height: 70px;

}

#logocover{
display: block;
background: transparent url(../img-common/oracle-java-logo.png) 0px 0px no-repeat;
height: 50px;
width: 229px;
float: left;
}



#productName{
	font-size:16px;
	position:relative;
	top:19px;
	padding-left:3px;
	color: #457798;
	white-space:nowrap;
width: 340px;
}


/* ============
   MOBILE: Task Bullets 1234, 123 
   =========== */
#bullets1234{
display:block;
padding:0;
margin:0;}

#bullets1234 ul{
margin-bottom:10px;}

#bullets1234 li{
margin-left:0px;
margin-bottom:1em;
float:left;
line-height:1.2em;
display:inline;
width:100%;}

/* ============ */
#bullets123{
display:block;
padding:0;
margin:0;
}

#bullets123 ul{
margin-bottom:10px;}

#bullets123  li{
	/*list-style-image: url(../img-common/L2Bullet.gif);*/
margin-left:0px;
margin-bottom:1em;
line-height:1.2em;
display:inline;
float:left;
width:100%;}


/* ===== JavaList BULLETS ======= */

.JavaList ul{
margin:0px;
margin-bottom:20px;
padding-left:5px;}

.JavaList  p{
font-weight:normal;
padding:0;
margin:0;
}

.JavaList  ul {
    padding-bottom:0px;
    margin-bottom:0px;
}
.JavaList  ul li{
list-style-image:url(../img-common/bullet.gif);
list-style-position:outside;
font-size: 13px; 
font-weight:normal;
font-family:Arial, Helvetica, sans-serif;
width: 100%;
padding-bottom:0px;
margin-left: 12px;
margin-bottom:0px;
}

.JavaList  ul li ul li,.JavaList ul li ul li a:link{
list-style-image: url(../img-common/bullet2.png); 
list-style-type: square;
padding-bottom:0;
margin-bottom:0;
font-size:12px;}


/* ===== DocList BULLETS ======= */

.DocList ul{
margin:0px;
margin-bottom:20px;
padding-left:5px;}

.DocList ul li{
/*list-style-image: url(../img-common/L1Bullet.gif); */
list-style:none;
font-weight:bold;
font-size:14px;
vertical-align:top;
padding-left:0;
margin:0px;
padding-bottom:0px;
margin-bottom:23px;
list-style-position:outside;
}

.DocList ul li p{
font-weight:normal;
padding:0;
margin:0;
}

.DocList ul li ul {
    padding-bottom:0px;
    margin-bottom:0px;
}
.DocList ul li ul li{
list-style-image:url(../img-common/bullet.gif);
list-style-position:outside;
font-size: 13px; 
font-weight:normal;
font-family:Arial, Helvetica, sans-serif;
width: 100%;
padding-bottom:0px;
margin-left: 12px;
margin-bottom:0px;
}

.DocList ul li ul li ul li,.DocList ul li ul li ul li a:link{
list-style-image: url(../img-common/bullet2.png); 
list-style-type:disc;
padding-bottom:0;
margin-bottom:0;
font-size:12px;}

/* ===== columns ======= */

.left {
    float: left;
    width: 100%;

}

.right {
    float: left;
    width: 100%;

}

.middle {
    float: left;
	width: 100%;

}

/* ==========================================================================
   Book Icons
   ========================================================================== */


.iconmargin{
margin-left:36px
}

.icon1{
float:left;margin-top:10px;width:32px;height:32px;background-repeat:no-repeat;
background-image: url(../img-common/icon-sheet.png);
	}
	
	
.icon2{
float:left;margin-top:10px;width:32px;height:32px;background-repeat:no-repeat; 
background-image: url(../img-common/icon-sheet.png);
background-position: 0 -32px; 
	}
	
.icon3{
float:left; margin-top:10px; width:32px; height:32px; background-repeat:no-repeat; 
 background-image: url(../img-common/icon-sheet.png); 
 background-position: 0 -64px; 
	}
	
.icon4{
float:left; margin-top:10px; width:32px; height:32px; background-repeat:no-repeat; 
	background-image: url(../img-common/icon-sheet.png); 
	background-position: 0 -96px;
}

.icon5{
float:left; margin-top:10px; width:32px; height:32px; background-repeat:no-repeat; 
 background-image: url(../img-common/icon-sheet.png); 
 background-position: 0 -128px;
}

.icon6{
float:left;	margin-top:10px; width:32px; height:32px; background-repeat:no-repeat; 
	background-image: url(../img-common/icon-sheet.png); 
	background-position: 0 -160px; 
}

.icon7{
float:left; margin-top:10px; width:32px; height:32px; background-repeat:no-repeat; 
	 background-image: url(../img-common/icon-sheet.png); 
	background-position: 0 -192px; 	
}


/*page 1 of tabs/////////////////////////*/

.p1-icon1{/* SE 8*/
float:left;margin-top:10px;width:32px;height:32px;background-repeat:no-repeat;
background-image: url(../img-common/icon-sheet-page1.png);}
		
.p1-icon2{/* Download Install */
float:left;margin-top:10px;width:32px;height:32px;background-repeat:no-repeat; 
background-image: url(../img-common/icon-sheet-page1.png);
background-position: 0 -32px; }
	
.p1-icon3{/* Write App */
float:left; margin-top:10px; width:32px; height:32px; background-repeat:no-repeat; 
 background-image: url(../img-common/icon-sheet-page1.png); 
 background-position: 0 -64px; }
	
.p1-icon4{/* Learn Language*/
float:left; margin-top:10px; width:32px; height:32px; background-repeat:no-repeat; 
background-image: url(../img-common/icon-sheet-page1.png); 
background-position: 0 -96px;}

.p1-icon5{/* Reference */
float:left; margin-top:10px; width:32px; height:32px; background-repeat:no-repeat; 
 background-image: url(../img-common/icon-sheet-page1.png); 
 background-position: 0 -128px;}

/*page 2 of tabs*/

.p2-icon1{/* build on foundation */
float:left;margin-top:10px;width:32px;height:32px;background-repeat:no-repeat;
background-image: url(../img-common/icon-sheet-page1.png);
background-position: 0 -160px;}

.p2-icon2{/* data app integration */
float:left;margin-top:10px;width:32px;height:32px;background-repeat:no-repeat;
background-image: url(../img-common/icon-sheet-page1.png);
background-position: 0 -192px;}

.p2-icon3{/* troubleshooting */
float:left;margin-top:10px;width:32px;height:32px;background-repeat:no-repeat;
background-image: url(../img-common/icon-sheet-page1.png);
background-position: 0 -224px;}

/*page 3 of tabs*/

.p3-icon1{/* Java FX */
float:left;margin-top:10px;width:32px;height:32px;background-repeat:no-repeat;
background-image: url(../img-common/icon-sheet-page1.png);
background-position: 0 -256px;}

.p3-icon2{/* Swing and 2D */
float:left;margin-top:10px;width:32px;height:32px;background-repeat:no-repeat;
background-image: url(../img-common/icon-sheet-page1.png);
background-position: 0 -288px;}

/*page 4 of tabs*/

.p4-icon1{/* SE 8*/
float:left;margin-top:10px;width:32px;height:32px;background-repeat:no-repeat;
background-image: url(../img-common/icon-sheet-page1.png);
background-position: 0 -320px;}

.p4-icon2{/* Java 8 */
float:left;margin-top:10px;width:32px;height:32px;background-repeat:no-repeat;
background-image: url(../img-common/icon-sheet-page1.png);
background-position: 0 -352px;}

/*page 4 of tabs*/

.p5-icon1{/* Oracle Java SE Advanced and Oracle Java SE Suite*/
float:left;margin-top:10px;width:32px;height:32px;background-repeat:no-repeat;
background-image: url(../img-common/icon-sheet-page1.png);
background-position: 0 -384px;}

.p5-icon2{/* Features */
float:left;margin-top:10px;width:32px;height:32px;background-repeat:no-repeat;
background-image: url(../img-common/icon-sheet-page1.png);
background-position: 0 -416px;}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/*video styles //////////////////////////////////////*/

.video-container { position: relative; /* keeps the aspect ratio */ padding-bottom: 56.25%; /* fine tunes the video positioning */ padding-top: 60px; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%;
}

