@media only screen and (min-width: 1140px) {

/*THESE STYLES ARE FOR FULL SIZE PAGE*/

/* ===============
    Maximal Width
   =============== */
	
	    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
	margin:auto;

    }
	
	.bookwrapper {
       width: 981px; /* 1140px - 10% for margins (1026 - 45 for book = 981 */
	margin:auto;
}


.footer-bookwrapper{
       max-width: 981px; /* 1140px - 10% for margins */
	margin:auto;
	
}
	
	.footer-container{
        max-width: 1026px; /* 1140px - 10% for margins */
	margin:auto;
	
}
	
		.footer-containerbook{
        max-width: 981px; /* 1140px - 10% for margins */
	margin:auto;
	
}
	
	
	
/* ============
   MOBILE: Task Bullets 
   =========== */
#bullets1234 ul{
  margin-bottom:10px;}

#bullets1234 li{/* needs to add up to 25% */
  width:19%;
  margin-right:5%;}

/* ============ */	
#bullets123 ul{}

#bullets123 li{/*33.33333% at full size*/
margin-right:5%;
width:27.333%;}


	
	
}