@media only screen and (min-width: 768px) {

/*THESE STYLES ARE FOR TABLETS*/


.wrapper {max-width: 1026px; /* 1140px - 10% for margins */}
	
.bookwrapper {max-width: 981px; /* 1140px - 10% for margins (1026 - 45 for book = 981 */}

.footer-bookwrapper{max-width: 981px; /* 1140px - 10% for margins */}
	
.footer-container{max-width: 1026px; /* 1140px - 10% for margins */}
	
.footer-containerbook{max-width: 981px; /* 1140px - 10% for margins */}


/* ====================
    WIDE: CSS3 Effects
   ==================== */


.threecolumns{
width:31%;
margin-right:2%;
}
   
   
/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */


    .main aside {
        float: right;
        width: 25%;
    }
	/*main floating toc*/
#toc{
        float: left;
        width: 25%;
		position:relative;
		display: inline-block; 
    }
	#toc.open{
	        float: left;
        width: 25%;
		position:relative;
		display: block; 
    }
	
	
#leftaside {
float: left;
width: 21%;
display:block;}
		
		
		.rightbody {
		width: auto;

     float: right;
right:10px;
     width: 75%;
    }


/* ============
   WIDE: Next Previous 
   ============ */
	#pagenav,#pagenav2{
	}
	
	#tocbutton{
	display:none;}
	
	#tocclose{
	display:none;} 
	

/* ============
   WIDE: Header 
   =========== */
#searchheader{
	width:auto;
}

#productName{

}


/* ============
   MOBILE: Task Bullets 
   =========== */
#bullets1234 ul{}

#bullets1234 li{/*33.33333%*/
margin-right:5%;
width:27.333%;}

/* ============ */
#bullets123 ul{}

#bullets123 li{ /*50%*/}



/* ===== columns ======= */

.left {
    float: left;
    width: 30%;
    margin: 0;
	padding:0;
}

.right {
    float: right;
    width: 30%;
	margin: 0;
	padding:0;
}

.middle {
    padding: 0px 36% 0px 36%;
    margin: 0px;
	padding-bottom:15px;
	float:none;	
	width:auto;
}
	
	.searchresulttab{
	width:90%;
}

}