@media only screen and (min-width: 480px) {


#productName{}

#brandProdName{
width: auto;
height: auto;
}


.wrapper { 
	width: 90%;
    margin: 0 5%;
	margin:auto;
}

.bookwrapper {
	width: 90%;
	margin:auto;
	margin-left:53px; /*added for finger tabs*/
	margin-right:10px;
}


.contentarea{
	  /*d6dfe6*/

border-radius: 3px;
}
.bookindent{
margin-left:50px; /*added for finger tabs*/
}

	

.footer-containerbook{
		width: 90%;
margin-right: 10px;
width: auto;
border-top: 1px solid #ccc;
border-radius: 3px;
margin-bottom:20px;
}


	.footer-container{
	width: 90%;
    margin: 0 5%;
	margin:auto;
	border-top: 1px solid #ccc;
border-radius: 3px;

margin-bottom:20px;
}



	
	
/* ====================
    TABLET: Header
   ==================== */
        #searchheader{
		float:right;
		display: block;
width:100%;
text-align:right;
padding: 5px 0px;
        }
		
		
 #signInArea{
           
		float:left;


		visibility:visible;
		display:block;
		width:auto;
	
		padding-bottom:1px;
		border:none;
		
		top: 53px;
		position: absolute;

		margin:0;
        }
		
		
/* ====================
    TABLET: Menu
   ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }
	

/* ============
   TABLET: Next Previous 
   ============ */


#pagenav{
	text-align:right;
}
#pagenav2{
	text-align:right;
}
.panel{width:auto; max-width:480px;margin-left:0;}
	

/* ===================
   TABLET: Home Syles
=================== */

.threecolumns, .twocolumns{
width:48%;
margin-right:2%;
}

.threecolumns ul{margin:0;padding:0 0 10px 0;}



/* ============
   MOBILE: Task Bullets 
   =========== */
#bullets1234 ul{
margin-bottom:10px;}

#bullets1234 li{
margin-right:5%;
width:44%;}

/* ============ */
#bullets123 ul{}

#bullets123 li{ /*50%*/
margin-right:5%;
width:44%;}


#leftaside {
float: left;
width:30%;
}

.rightbody {	
	/*position:fixed;
	left:250px;
	width: auto;*/
	width:64%;
	float: right;
	right:10px;
	clear:none;
}

/*///////////////
#tabsubmenu
///////////////*/

#linksubmenu {
padding:0px;
margin:5px 0px 0px 0px;
padding: 0px;
margin: 5px 0px 0px 0px;

border-bottom: 1px solid #d6dfe6;;
display: block;
float: left;
width: 100%
}

#linksubmenu ul {
	list-style: none;
	padding:0;
	margin:0;
	background-color:#f7f7f7;
}
#linksubmenu li {
	float: left;


}
#linksubmenu li a {
	padding:2px 6px;
	margin:auto;
	border-top:1px solid #d5dfe5;
border-right:1px solid #ccc;
	border-bottom-width: 0;
}


#linksubmenu  li:first-child a {
border-left:1px solid #d5dfe5;
border-top-left-radius:3px;
}

#linksubmenu  li:last-child a {
	border-top-right-radius:3px;
}

#linksubmenu .tabselected {
/*	padding-bottom: 1px;*/ 
	background: #fff;
	border-top:none;
border-left:none;
border-right:none;
	border-bottom-width: 0;
	}




/*///////////////
#tabsubmenu
///////////////

#linksubmenu {
padding:0px;
margin:5px 0px 0px 0px;

}

#linksubmenu ul {
float:left;
padding:0px;
margin:0px;
width:100%;
height:auto;}

#linksubmenu ul li {
display:inline;
border:none;}

#linksubmenu ul li a{
padding:5px 8px;
border-right:1px solid #d5dfe5;
border-bottom: none;
border-top:1px solid #d5dfe5;
border-left:none;
display:inline-block;
float:left;
width:auto;
}

#linksubmenu ul li:first-child a {
border-left:1px solid #d5dfe5;}

#linksubmenu ul li:last-child a {
border-top-right-radius: 4px;  
}

#linksubmenu ul li .tabselected{
border-top:2px solid  #1466b2;
border-right:1px solid #d5dfe5;
border-left:1px solid #d5dfe5;
}

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}