.panel {
position:absolute;
/*position:fixed;*/
left: 0px;
display: none;
height: auto;
padding: 50px 10px 20px 50px;
/*border: 1px solid #fff;*/
background-color: #FFFFFF;
box-shadow: 0 1px 15px rgba(34,25,25,0.4);
-moz-box-shadow: 0 1px 15px rgba(34,25,25,0.4);
-webkit-box-shadow: 0 1px 15px rgba(34,25,25,0.4);
/*filter: alpha(opacity=95);
opacity: .97;*/
overflow:AUTO;

border-top: 1px solid #bbc7d0;
border-right: 1px solid #bbc7d0;
border-bottom: 1px solid #bbc7d0;
border-left:none;}


#panel1{ top: 148px;}/* table of contents */
/*#panel2{ top: 172px;} popular */
/*#panel3{ top: 222px;} whats new */
/*#panel4{ top: 272px;} all books */
/*#panel5{ top: 322px;} email */
/*<!--/////////////////////////////////-->*/


a.trigger{
position:absolute;
/*position:fixed;*/
text-decoration: none;
 left: 0;
 height:30px;
padding: 7px 5px 7px 15px;
display: block;

background-color: #fcfdfe;
background: linear-gradient(bottom, #e3e7e9 0%, #e9ebed 50%, #f1f3f3 96.36%, #fff 100%), linear-gradient(bottom, #e3e7e9 0%, #e9ebed 50%, #f1f3f3 96.36%, #fff 100%);

border-top: 1px solid #bbc7d0;
border-right: 1px solid #bbc7d0;
border-bottom: 1px solid #bbc7d0;
border-left:none;

/*-moz-border-radius-topright: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-bottom-right-radius: 3px;*/
}

a.trigger:hover{
position:absolute;
/*position:fixed;*/
text-decoration: none;
left: 0;
padding: 7px 10px 7px 20px;
/*-moz-border-radius-topright: 3px;
-webkit-border-top-right-radius: 3px;
-moz-border-radius-bottomright: 3px;
-webkit-border-bottom-right-radius: 3px;*/
display: block;}

a.active.trigger {
border-top: 1px solid #fcfdfe;
border-right: 1px solid #fcfdfe;
border-bottom: 1px solid #fcfdfe;

width:100px;
box-shadow: none;
-moz-box-shadow: none;
-webkit-box-shadow: none;
}


/*unique triggers*/
/*========================== table of contents */
.trig1{
background: url(../img-common/pan-contents.png) 8px 12px no-repeat;
top: 149px;
width:20px;}

.trig1:hover{
width:100px;}
/*========================== popular 
.trig2{
background: url(../img-common/pan-popular.png)  8px 12px no-repeat;
top: 173px;
width:20px;}

