@media print {
	
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }
	
	*{
	font-family: "Times New Roman", Times, serif;}
	
	
    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */
	 
	 
    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
	
	
/*///////////////////////////////////////////////
named styles
//////////////////////////////////////////////*/
	#altlogo{
	display:block;
	width:100%;
	padding:1em;	
	}
	#logocover{
	display:none;
	}
	
	a{
		color:000;
		}
		
	.threecolumns{
width:27%;
}
	#searchheader{display:none; }
	.bookoptions{
		border:none;		
	}
	.contentarea{
		border:none;		
	}
	#pagenav, #pagenav2{
		display:none; 
	}
	#navBar{
		display:none;
		}
	.bookoptions{
		display:none;
		}
	.SocialBar{
		display:none;
	
		}
	.booktitle{
		padding-left:0px;
		background-image:none;}
	
	.trig1, .trigger, #panel1{
				display:none;
				border:none;
				visibility:hidden;
			}
			.pagetitle, .booktitle{border:none;}
	
	
	
	
	
	
	
	
	
/*///////////////
#tabsubmenu
///////////////*/

#linksubmenu {
padding:0px;
margin:5px 0px 0px 0px;
}

#linksubmenu ul {
	/*list-style: none;*/
	padding:0;
	margin:0;
	}

#linksubmenu li {
	float: left;}

#linksubmenu li a{
	padding:2px 6px;
	margin:auto;
	border:none;
}

#linksubmenu .tabselected{
border:1px solid;
}

	
	
	
	
	
	
	
	
	
	
}
