keystore ".keystore";

grant /* GssExample program */ {

        permission java.net.SocketPermission "ldap.jnditutorial.org", "connect";

        permission javax.security.auth.AuthPermission "createLoginContext.GssExample";
        permission javax.security.auth.AuthPermission "doAs";

        permission java.net.SocketPermission "kerberos.jnditutorial.org", "connect";
        permission javax.security.auth.kerberos.ServicePermission "krbtgt/JNDITUTORIAL.ORG@JNDITUTORIAL.ORG", "initiate";
        permission javax.security.auth.kerberos.ServicePermission "ldap/ldap.jnditutorial.org@JNDITUTORIAL.ORG", "initiate";
};
