/* contentstyle.css     $Change: 23747 $   

   Prefix all styles with .ContentPane.  Example:
   
   .ContentPane p {styles}
*/



/* styles for caution table */
.ContentPane table.cautiontable {
       margin-top: -8px;
       margin-bottom: -8px;
}

/* styles for caution table cell */
.ContentPane table.cautiontable td {
       margin-top: -5px;
       margin-bottom: -5px;
       padding-top: 0px;
       padding-bottom: 0px;
}

/* styles for table caution */
.ContentPane table.cautiontable td {
        padding-top: 2px;
        padding-bottom: 2px;
}

/* styles for figure titles */
.ContentPane h6.figuretitle {
        font-size: 8pt;
}


/* styles for topic level 2 titles */
.ContentPane h2.topictitle2 {
        margin-top: 0px;
}


/* styles for task level 2 titles */
.ContentPane h2.tasktitle2 {
        margin-top: 0px;
}



/* styles for topic level 3 titles */
.ContentPane h3.topictitle3 {
        margin-top: 0px;
}

/* styles for task level 3 titles */
.ContentPane h3.tasktitle3 {
        margin-top: 0px;
}


/* styles for topic level 4 titles */
.ContentPane h4.topictitle4 {
        margin-top: 0px;
}


/* styles for task level 4 titles */
.ContentPane h4.tasktitle4 {
        margin-top: 0px;
}



/* styles for topic level 5 titles */
   .ContentPane h5.topictitle5 {
        margin-top: 0px;
} 



/* styles for task level 5 titles */
   .ContentPane h5.tasktitle5 {
        margin-top: 0px;
} 



/* styles for topic level 6 titles */
   .ContentPane h6.topictitle6 {
        margin-top: 0px;
} 


/* styles for task level 6 titles */
   .ContentPane h6.tasktitle6 {
        margin-top: 0px;
} 


/* styles for the first para in a step */
.ContentPane p.firststeppara {
        font-size: 10pt;
}

.ContentPane var {
        font-family : Times;
        font-weight : normal;
        font-style : italic;
}


.ContentPane td * ul li { margin: -12px 0px -12px -4px; }

.ContentPane blockquote.abstract
{
        border-width: 1px;
        border-style: solid;
        border-color: #666;
        padding: 2px;
        background-color: #EEEEEE;
        /*
        padding-left: 8px;
        padding-right: 8px;
        margin-left: 0px;
        */
}


.ContentPane ol.procedure {
}


.ContentPane li.step {
	margin-bottom: 20px;
}

.ContentPane dt.glossterm {
        font-size: 10pt;
        margin-top: 16px;
}

.ContentPane dd.glossdef {
        margin-top: -11px;
}


.ContentPane div.note {
	margin-top: 20px;
	margin-bottom: 20px;
}



.ContentPane table.dkgrey1 {
	margin-top: 10px;
	margin-bottom: 25px;
}





.ContentPane  p.calloutcaption {
	margin: 2px;
	font-size: 8pt;
	font-weight: bold;
	line-height: 14pt;
}


.ContentPane  p.callout {
	margin: 2px;
	font-size: 8pt;
	line-height: 8pt;
}


.ContentPane span.calloutmark {
	font-weight: bold;
	font-size: 8pt;
	line-height: 8pt;
	width: 10px;
	text-align: center;
	margin-right: 5px;
}


.ContentPane h1 {
	margin-bottom: 0.5em;
    font-family: "Univers LT Std", Univers, Arial, Helvetica, sans-serif;
    color: #000000;
}


.ContentPane h2 {
	font-size: 200%;
    font-family: "Univers LT Std", Univers, Arial, Helvetica, sans-serif;
	color: #000000;
	margin-bottom: 0.75em;
}


.ContentPane h3 {
	font-size: 170%;
    font-family: "Univers LT Std", Univers, Arial, Helvetica, sans-serif;
	margin-top: 1.25em;
	margin-bottom: 0.5em;
}


.ContentPane h4 {
	font-size: 150%;
    font-family: "Univers LT Std", Univers, Arial, Helvetica, sans-serif;
	margin-top: 1.25em;
	margin-bottom: 0.5em;
}


.ContentPane h5 {
	font-size: 120%;
    font-family: "Univers LT Std", Univers, Arial, Helvetica, sans-serif;
	margin-top: 1.25em;
	margin-bottom: 0.5em;
}


.ContentPane h6 {
	font-size: 100%;
    font-family: "Univers LT Std", Univers, Arial, Helvetica, sans-serif;
	margin-top: 1.25em;
	margin-bottom: 0.5em;
}
